.page-header
  h2 Current Tabs

- friends.forEach(function(friend) {
  .panel.panel-default
    .panel-heading.panel-sm.panel-clickable
      .center-out
        - name = [friend.tabs[0].friend.firstName, friend.tabs[0].friend.lastName].reduce(function(res, val) {
        -   return res + (val ? ' ' + val : '');
        - });
        if (friend.tabs[0].friend.fbid)
          img.profile-picture.img-circle(src='http://graph.facebook.com/' + friend.tabs[0].friend.fbid + '/picture' alt=name)
        else
          img.profile-picture.img-circle(src='/default.jpg' alt=name)
        span.name= name
        .center-in.text-right
          span.badge= friend.total
    .panel-body.panel-sm.panel-table.panel-expand
      table.table
        thead
          tr
            th.date Date
            th.reason Description
            th.amount Amount
        tbody
          - friend.tabs.forEach(function(tab) {
            tr
              td.date
                a(href='/tab/' + tab.id)= tab.date
              td.reason= tab.description
              td.amount= '$' + tab.owe
          - })
- })

.row.text-center
  a#new-btn.btn.btn-info.btn-big(href="#new" data-toggle="pill") + New Tab
